body{
    background: rgb(254,96,227);
    background: linear-gradient(135deg, rgba(254,96,227,1) 0%, rgba(236,185,237,1) 15%, rgba(227,206,225,1) 25%, rgba(226,164,242,1) 35%, rgba(195,29,253,1) 50%, rgba(94,18,110,1) 65%, rgba(4,3,6,1) 75%, rgba(56,45,93,1) 85%, rgba(70,67,145,1) 90%, rgba(75,84,233,1) 100%); 
}

header .fa-paw {
    transform: rotate(325deg);
}

header .fa-paw.ms-4 {
    transform: rotate(25deg) translateY(5px);
}

article {
    aspect-ratio: 3/5;
}

.card {
    overflow: clip;
}

.card-image img {
    aspect-ratio: 1;
}

.card > div.card-body{
    background-color: #ffd2f3;
}

.card-body p.card-text{
    font-size: .9rem;
}