body{
    background-color: #0b0b71;
}

header .fa-paw {
    transform: rotate(325deg);
}

header .fa-paw.ms-4 {
    transform: rotate(25deg) translateY(5px);
}

article {
    aspect-ratio: 3/5;
}

.card {
    overflow: clip;
}

.card-image img {
    aspect-ratio: 1;
}

.card > div.card-body{
    background-color: #f0dddd;
}

.card-body p.card-text{
    font-size: .9rem;
}